# Flask Framework Packages
click
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug

Flask-WTF

python-dotenv
# text to speech functions
response

# mongo requirements
pymongo[srv]
Flask-PyMongo
#sound recording function
sounddevice 
scipy 

#whisper
git+https://github.com/openai/whisper.git
# openai-whisper
ffmpeg
tiktoken
# text to speech
gTTS

#gemini 
google-generativeai

# below not used yet
# # Flask Functionality Packages
# Flask-Login
# Flask-Migrate
# Flask-Script
# Flask-SQLAlchemy
# Flask-WTF
# Flask-Admin
# flask-qrcode
# WTForms


# pyotp
# argon2-cffi
# cryptography
